[Unit]
Description=TDXS
Requires=tdxs.socket

[Service]
User=tdxs
Group=tdx
WorkingDirectory=/home/tdxs
Type=notify
ExecStart=/usr/bin/tdxs \
    --config /etc/tdxs/config.yaml \
    --log-level info
Restart=on-failure

[Install]
WantedBy=default.target
